@page
@using Lab.Gym.Web.Pages.Manage.Profile
@model ProfileModel
@{
    ViewData["Title"] = "Profile";
    var btnName = Model.IsEdit ? "Register" : "Save";
    var readonlyTag = Model.IsEdit ? "readonly" : null;
}
@section Styles {
}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="../img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>@ViewData["Title"]</h2>
                    <div class="bt-option">
                        <a href="./index.html">Home</a>
                        <a href="#">Account</a>
                        <span>@ViewData["Title"]</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<partial name="_StatusMessage" for="StatusMessage" />
<section class="class-details-section spad-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="class-details-text">
                    <div class="cd-trainer">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="cd-trainer-text">
                                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                        <input type="hidden" asp-for="Input.UserId" />
                                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                        <div class="trainer-title">
                                            <h4>@Model.Input.FullName</h4>
                                            <span>@Model.Input.Email</span>
                                        </div>
                                        <p>
                                            If there is something wrong please click in update profile.
                                        </p>
                                        <ul class="trainer-info">
                                            <li><span>Birth Date</span>@Model.Input.BirthDate.ToString("dd/MM/yyyy")</li>
                                            <li><span>Address</span>@Model.Input.Address1</li>
                                            <li><span>Address line 2</span>@Model.Input.Address2</li>
                                            <li><span>City</span>@Model.Input.City</li>
                                            <li><span>County</span>@Model.Input.County</li>
                                            <li><span>EIR Code</span>@Model.Input.PostalCode</li>
                                            <li><span>Phone</span>@Model.Input.Phone1</li>
                                        </ul>
                                        <p>
                                            <button id="registerSubmit" type="submit" class="primary-btn pricing-btn">Update Profile</button>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
