@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var readonlyTag = Model.IsManager ? null : "readonly";
    var disabledTag = Model.IsManager ? null : "disabled";
}
@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="~/css/calendar.css" />
 }

 <input type="hidden" asp-for="@Model.IsManager" class="isManager"/>

<div id="calendar-wrapper">
    <div id='calendar'></div>
</div>

<div class="modal fade" id="eventModal" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="eventModalLabel">Event</h4>
                <button type="button" class="close btnCloseEventModalTop" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="eventForm">
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">Title</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="EventTitle" readonly="@(readonlyTag)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">Start Time</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="StartTime" readonly="@(readonlyTag)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">End Time</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="EndTime" readonly="@(readonlyTag)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="Description" rows="5" readonly="@(readonlyTag)"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3 offset-sm-9">
                            <label><input type="checkbox" id="AllDay" disabled="@(disabledTag)" /> All Day</label>
                        </div>
                    </div>
                    <input type="hidden" id="isNewEvent" />
                </form>
            </div>
            <div class="modal-footer">
                @if(Model.IsManager)
                {
                    <button type="button" class="btn btn-danger pull-left" id="deleteEvent">Delete</button>
                    <div>
                        <button type="button" class="btn btn-primary" id="eventModalSave">Save Changes</button>
                        <button type="button" class="btn btn-default btnCloseEventModal" data-dismiss="modal">Close</button>
                    </div>
                }
                else
                {
                    <div>
                        <button type="button" class="btn btn-default btnCloseEventModal" data-dismiss="modal">Close</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirmDeleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm delete</h5>
                <button type="button" class="close btnModalCloseConfirmDeleteTop" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Please confirm event delete</p>
                <h6><span class="modalConfirmDeleteEventTitle"></span></h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="modalConfirmDelete">Confirm delete</button>
                <button type="button" class="btn btn-secondary btnModalConfirmDeleteCancel" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@Html.AntiForgeryToken()

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="~/lib/fullcalendar-6.1.10/dist/index.global.min.js"></script>
    <script src="~/js/calendar.js" asp-append-version="true"></script>
}